<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加主题</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/admin/style/admin.css" media="all">
    <style>
        .layui-table{
            border:0;
        }
        .layui-table td, .layui-table th{
            padding: 5px 0 5px 15px;
        }
    </style>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form" action="">
                        <input type="hidden" name="fzid" value="0">
                        <div class="layui-form-item">
                            <label class="layui-form-label">主题名称:</label>
                            <div class="layui-input-block">
                                <input type="text" name="temp_name" required  lay-verify="required" placeholder="请输入主题名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">主题分类:</label>
                            <div class="layui-input-block">
                                <input type="radio" name="cat_id" value="1" title="品牌站" checked>
                                <input type="radio" name="cat_id" value="2" title="综合站">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">主题颜色:</label>
                            <div class="layui-input-block">
                                {volist name='$theme_color' id='vo'}
                                <input type="checkbox" name="color[]" value="{$vo.id}" title="{$vo.value}"  {if condition="$vo.id=='0'"} checked {/if}>
                                {/volist}
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">主题自适应:</label>
                            <div class="layui-input-block">
                                <input type="radio" name="is_h5" value="0" title="否" checked>
                                <input type="radio" name="is_h5" value="1" title="是">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">缩略图:</label>
                            <div class="layui-input-block">
                                <input type="hidden" name="thumb" value="">
                                <button type="button" class="layui-btn upload_img" id="thumb">
                                    <i class="layui-icon">&#xe67c;</i>上传图片
                                </button>
                                <img id="thumb_img" style="width: 5%; height: 5%;" />
                            </div>
                        </div>

                        <table class="layui-table" lay-skin="nob">
                            <colgroup>
                                <col width="95">
                                <col width="200">
                                <col width="55">
                                <col width="350">
                                <col>
                            </colgroup>
                            <tbody id="yulantu">
                            <tr>
                                <td style="text-align:right;">预览图:</td>
                                <td>
                                    <input type="hidden" name="yulantu[0][thumb]" value="">
                                    <button type="button" class="layui-btn upload_img" id="yulantu0">
                                        <i class="layui-icon">&#xe67c;</i>上传图片
                                    </button>
                                    <img id="yulantu0_img" style="width: 30%;" />
                                </td>
                                <td>说明:</td>
                                <td>
                                    <input type="text" name="yulantu[0][title]" placeholder="请输入图片说明" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <button type="button" onclick="add_yulantu()" class="layui-btn layui-btn-primary layui-btn-sm">
                                        <i class="layui-icon">&#xe654;</i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">主题描述</label>
                            <div class="layui-input-block">
                                <textarea name="temp_desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">PC端路径:</label>
                            <div class="layui-input-block">
                                <button type="button" class="layui-btn" id="temp_src" style="float: left; margin-right: 20px;">
                                    <i class="layui-icon">&#xe67c;</i>上传文件
                                </button>
                                <input type="text" name="temp_src" value="" style="width: 300px;" class="layui-input layui-btn-disabled" disabled>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">移动端路径:</label>
                            <div class="layui-input-block">
                                <button type="button" class="layui-btn" id="m_temp_src" style="float: left; margin-right: 20px;">
                                    <i class="layui-icon">&#xe67c;</i>上传文件
                                </button>
                                <input type="text" name="m_temp_src" value="" style="width: 300px;" class="layui-input layui-btn-disabled" disabled>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">预览地址:</label>
                            <div class="layui-input-block">
                                <input type="text" name="temp_url" placeholder="请输入主题预览地址" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">是否启用：</label>
                            <div class="layui-input-block">
                                <input type="hidden" name="status" value="0">
                                <input type="checkbox" name="status" value="1" lay-skin="switch" lay-text="启用|禁用" checked>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/layui/layui.js"></script>
<script src="/static/common/js/jquery.min.js"></script>
<script src="/static/common/js/layTool.js"></script>

<script>
    layui.config({
        base: '/static/admin/'
    }).use(['form'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,element = layui.element
            ,form = layui.form;

        form.on('submit(formDemo)', function(data){

            $.post("{:url('theme/add')}", data.field, function (res) {
                if(0 == res.code) {

                    layer.msg(res.msg);
                    setTimeout(function () {

                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        window.parent.renderTable();
                    }, 200);
                } else {
                    layTool.alert(res.msg, '友情提示', 2);
                }
            }, 'json');
            return false;
        });
    });

    /**
     * 文件上传
     **/
    layui.use('upload', function(){
        var upload = layui.upload; //得到 upload 对象

        yulantu_num = 0;
        // 添加一行 预览图
        add_yulantu = function () {
            yulantu_num += 1;
            let str = `<tr>
                                <td style="text-align:right;">预览图:</td>
                                <td>
                                    <input type="hidden" name="yulantu[`+yulantu_num+`][thumb]" value="">
                                    <button type="button" class="layui-btn upload_img" id="yulantu`+yulantu_num+`">
                                     <i class="layui-icon">&#xe67c;</i>上传图片
                                    </button>
                                    <img id="yulantu`+yulantu_num+`_img" style="width: 30%;" />
                                </td>
                                <td>说明:</td>
                                <td>
                                    <input type="text" name="yulantu[`+yulantu_num+`][title]" placeholder="请输入图片说明" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <button type="button" onclick="remove_yulantu(this)" class="layui-btn layui-btn-primary layui-btn-sm">
                                        <i class="layui-icon">&#xe67e;</i>
                                    </button>
                                </td>
                            </tr>`;
            $('#yulantu').append(str);

            uploadImgRender("#yulantu"+yulantu_num,$("#yulantu"+yulantu_num+"_img"),$("input[name='yulantu["+yulantu_num+"][thumb]']"));

        }

        // 删除一行 预览图
        remove_yulantu = function (obj){
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
        }

        function uploadZip(elem,dataUrl) {
            var uploadZip = upload.render({
                auto: true
                ,elem: elem
                ,url: '/admin/Theme/uploadZip'
                ,data: { flag:elem }
                ,exts: 'zip|rar|7z'
                ,before:function (obj) {
                    layer.load(); //上传loading
                }
                ,done: function(res){ //上传后的回调
                    layer.closeAll('loading'); //关闭loading
                    if(res.err==0){
                        dataUrl.val(res.data);
                        layer.msg(res.msg);
                    }else{
                        layer.msg(res.msg);
                    }
                }
                ,error: function(){
                    //请求异常回调
                    layer.closeAll('loading'); //关闭loading

                    layer.msg('上传错误！');
                }
            });
        }

        uploadZip("#temp_src",$("input[name='temp_src"));
        uploadZip("#m_temp_src",$("input[name='m_temp_src"));

        function uploadImgRender(e,showImg,uploadimd){
            var uploadImg = upload.render({
                auto: true      // 选完文件后，是否自动上传。
                ,elem:  e
                ,url: '/admin/Theme/uploadImg'
                ,accept: {        //允许上传的文件类型
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/*'
                }
                ,before:function (obj) {
                    layer.load(); //上传loading
                    // 预览
                    obj.preview(function(index,file,result) {
                        showImg.attr('src',result);
                    });
                }
                ,done: function(res, index, upload){ //上传后的回调
                    layer.closeAll('loading'); //关闭loading

                    if(res.code==1){
                        showImg.attr('src',res.msg);
                        uploadimd.val(res.msg)
                    }else{
                        layer.msg(res.msg);
                    }
                }
                ,error: function(){
                    //请求异常回调
                    layer.closeAll('loading'); //关闭loading

                    layer.msg('上传错误！');
                    showImg.attr('src','');
                }
            })
        }

        uploadImgRender("#yulantu0",$("#yulantu0_img"),$("input[name='yulantu[0][thumb]"));

        // 缩略图
        uploadImgRender("#thumb",$("#thumb_img"),$("input[name='thumb']"));
    });
</script>
</body>
</html>