<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>站点管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/admin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">站点搜索</label>
                    <div class="layui-input-block">
                        <input type="text" name="search" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-user-back-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <table id="LAY-user-table" lay-filter="LAY-user-table"></table>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    {if (buttonAuth('site/create'))}
                    <button class="layui-btn layui-btn-sm" lay-event="create">添加</button>
                    {/if}
                    {if (buttonAuth('site/batchcreate'))}
                    <button class="layui-btn layui-btn-sm" lay-event="batchCreate">批量建站</button>
                    {/if}
                    {if (buttonAuth('common/index'))}
                    <button class="layui-btn layui-btn-sm layui-btn-disabled" lay-event="editCommon" disabled>修改公共内容</button>
                    {/if}
                    {if (buttonAuth('site/updateWeb'))}
                    <button class="layui-btn layui-btn-sm layui-btn-disabled" lay-event="updateIndex" disabled>更新首页</button>
                    <button class="layui-btn layui-btn-sm layui-btn-disabled" lay-event="updateColumn" disabled>更新栏目</button>
                    <button class="layui-btn layui-btn-sm layui-btn-disabled" lay-event="updateArticle" disabled>更新内容</button>
                    {/if}
                    {if (buttonAuth('flink/index'))}
                    <button class="layui-btn layui-btn-sm layui-btn-disabled" lay-event="flink" disabled>友情链接</button>
                    {/if}
                    {if (buttonAuth('archives/index'))}
                    <button class="layui-btn layui-btn-sm layui-btn-disabled" lay-event="archives" disabled>文章内容</button>
                    {/if}
                    {if (buttonAuth('column/index'))}
                    <button class="layui-btn layui-btn-sm layui-btn-disabled" lay-event="column" disabled>栏目内容</button>
                    {/if}
                    {if (buttonAuth('site/read'))}
                    <button class="layui-btn layui-btn-sm layui-btn-disabled" lay-event="read" disabled>站点信息</button>
                    {/if}
                    {if (buttonAuth('site/edit'))}
                    <button class="layui-btn layui-btn-sm layui-btn-disabled edit" lay-event="edit" disabled>编辑</button>
                    {/if}
                    {if (buttonAuth('site/delete'))}
                    <button class="layui-btn layui-btn-sm layui-btn-danger layui-btn-disabled" lay-event="del" disabled>删除</button>
                    {/if}

                </div>
            </script>

            <script type="text/html" id="statusTpl">
                {{#  if(d.status == 1){ }}
                <button class="layui-btn layui-btn-success layui-btn-xs">启用</button>
                {{#  } else { }}
                <button class="layui-btn layui-btn-danger layui-btn-xs">禁用</button>
                {{#  } }}
            </script>
        </div>
    </div>
</div>

<script src="/static/layui/layui.js"></script>
<script src="/static/common/js/layTool.js"></script>
<script src="/static/common/js/jquery.min.js"></script>

<script>
    var layuiTable = { tableObj: null };
    layui.config({
        base: '/static/admin/'
    }).use(['table'], function (){
        let $ = layui.$, form = layui.form, table = layui.table;
        let row = {};
        layuiTable.tableObj = table.render({
            elem: '#LAY-user-table'
            , url: '/admin/site/index'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print']
            , height: 'full-200'
            , cols: [[
                { type: 'radio' },
                { field: "site_id", title: "站点ID", align: 'right', width: 80 },
                { field: "name", title: "站点名称" },
                { field: "web_domain", title: "站点域名", },
                { field: "m_domain", title: "移动端站点域名" },
                { field: "temp_name", title: "模版名称" },
                //{ field: "rewrite", title: "伪静态", align: 'center', width: 100 },
                //{ field: "rewrite_rule", title: "伪静态规则", width: 100 },
                //{ field: "xiangmu", title: "项目名", width: 100 },
                //{ field: "laiyuan", title: "来源", width: 100 },
                //{ field: "dianhua", title: "留言电话", width: 100 },
                { field: "page_views", title: "站点PV数", align: 'right' },
                { field: "page_count", title: "页面数量", align: 'right' },
                { field: "shoulu", title: "收录量", align: 'right' },
                { field: "guanjianci", title: "关键词情况" },
                { field: "creRes", title: "创建状态" },
                //{ field: "hj_site_id", title: "PC汇聚通ID", align: 'right', width: 100 },
                //{ field: "hj_m_site_id", title: "移动端汇聚通ID", align: 'right', width: 100 },
                { field: "add_time", title: "新建时间" },
                { field: "status", title: "状态", sort: true, templet: '#statusTpl' },
            ]]
            , page: true
        });
        table.on('row(LAY-user-table)', function (obj){
            row = obj.data;
            obj.tr.find("input[name='layTableRadio_1']").prop('checked', true);
            form.render('radio');
            if ( row.create_status !== 1 ) {
                $('.layui-btn-container').find('button').removeClass('layui-btn-disabled').removeAttr('disabled');
                $('.edit').addClass('layui-btn-disabled').attr('disabled', 1);
                if ( row.create_status === 3 || row.create_status === 0 ) {
                    $('.edit').removeClass('layui-btn-disabled').removeAttr('disabled');
                }
            }
        });
        table.on('toolbar(LAY-user-table)', function (obj){
            let data = row;
            switch ( obj.event ) {
                case 'editCommon':
                    if ( data.length == 0 ) {
                        layer.msg('请选择操作的行！');
                    } else {
                        layTool.open("{:url('/admin/common/index/site_id/" + data.site_id + "')}", "修改公共内容", '100%', '100%');
                    }
                    break;
                case 'batchCreate':
                    layTool.open("{:url('/admin/site/batchCreate')}", "批量建站", '80%', '80%');
                    break;
                case 'create':
                    layTool.open("{:url('site/create')}", "添加站点", '100%', '100%');
                    break;
                case 'flink':
                    layTool.open('/admin/flink/index/site_id/' + data.site_id, '友情链接', '100%', '100%');
                    break;
                case 'del':
                    layer.ready(function (){
                        let index = layer.confirm('您确定要删除该站点吗？', {
                            title: '友情提示',
                            icon: 3,
                            btn: ['确定', '取消']
                        }, function (){
                            $.getJSON('{:url("site/delete")}', { id: data.site_id }, function (res){
                                if ( 0 == res.code ) {
                                    layer.msg(res.msg);
                                    setTimeout(function (){
                                        layuiTable.tableObj.reload();
                                    }, 300);
                                } else {
                                    layer.alert(res.msg);
                                }
                            });
                        }, function (){
                        });
                    });
                    break;
                case 'edit':
                    layTool.open("/admin/site/edit/site_id/" + data.site_id, "编辑站点", '100%', '100%');
                    break;
                case 'read':
                    layTool.open("/admin/site/read/site_id/" + data.site_id, "查看站点", '100%', '100%');
                    break;
                case 'column':
                    layTool.open('/admin/column/index/site_id/' + data.site_id, '查看栏目', '100%', '100%');
                    break;
                case 'archives':
                    layTool.open('/admin/archives/index/site_id/' + data.site_id, '查看文章', '100%', '100%');
                    break;
                case 'updateIndex':
                    $.ajax({
                        url: '/admin/site/updateWeb',
                        type: 'post',
                        data: { type: 'updateIndex', data: data },
                        beforeSend: function (){
                            layer.load(3, {
                                shade: [0.3, 'gray'],
                                content: '<span class="loadtip">生成中...</span>',
                                success: function (layero){
                                    layero.find('.layui-layer-content').css({
                                        'padding-top': '39px',
                                        'width': '60px'
                                    });
                                }
                            });
                        },
                        success: function (d){
                            if ( d.status == 200 ) {
                                layer.closeAll('loading'); //关闭loading
                                layer.msg('首页生成成功');
                            } else {
                                layer.closeAll('loading'); //关闭loading
                                layer.msg(d.msg);
                            }
                        },
                        error: function (){
                            layer.closeAll('loading'); //关闭loading
                            layer.msg('生成失败');
                        }
                    }, 'json')
                    break;
                case 'updateColumn':
                    $.ajax({
                        url: '/admin/site/updateWeb',
                        type: 'post',
                        data: { type: 'updateColumn', data: data },
                        beforeSend: function (){
                            layer.load(3, {
                                shade: [0.3, 'gray'],
                                content: '<span class="loadtip">生成中...</span>',
                                success: function (layero){
                                    layero.find('.layui-layer-content').css({
                                        'padding-top': '39px',
                                        'width': '60px'
                                    });
                                }
                            });
                        },
                        success: function (d){
                            if ( d.status == 200 ) {
                                layer.closeAll('loading'); //关闭loading
                                layer.msg('栏目生成成功');
                            } else {
                                layer.closeAll('loading'); //关闭loading
                                layer.msg(d.msg);
                            }
                        },
                        error: function (){
                            layer.closeAll('loading'); //关闭loading
                            layer.msg('生成失败');
                        }
                    }, 'json')
                    break;
                case 'updateArticle':
                    $.ajax({
                        url: '/admin/site/updateWeb',
                        type: 'post',
                        data: { type: 'updateArticle', data: data },
                        beforeSend: function (){
                            layer.load(3, {
                                shade: [0.3, 'gray'],
                                content: '<span class="loadtip">生成中...</span>',
                                success: function (layero){
                                    layero.find('.layui-layer-content').css({
                                        'padding-top': '39px',
                                        'width': '60px'
                                    });
                                }
                            });
                        },
                        success: function (d){
                            if ( d.status == 200 ) {
                                layer.closeAll('loading'); //关闭loading
                                layer.msg('内容生成成功');
                            } else {
                                layer.closeAll('loading'); //关闭loading
                                layer.msg(d.msg);
                            }
                        },
                        error: function (){
                            layer.closeAll('loading'); //关闭loading
                            layer.msg('生成失败');
                        }
                    }, 'json')
                    break;
            }
        });
        // 监听搜索
        form.on('submit(LAY-user-back-search)', function (data){
            let field = data.field;
            // 执行重载
            table.reload('LAY-user-table', {
                where: field
            });
        });
    });
</script>
</body>
</html>
