<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>主题选择</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/admin/style/admin.css" media="all">
    <style>
        .c-container {
            margin-top: 10px;
            padding: 15px;
            margin-left: 10px;
            box-shadow: 1px 1px 5px #000;
            border-radius: 5px;
        }
        .c-list {
            height: 2em;
            line-height: 2em;
        }
        .c-img {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
        }
        .c-img img {
            max-width: 100%;
            max-height: 100%;
        }
        .c-operate button {
            width: 100%;
            margin-top: 15px;
        }
    </style>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">主题</label>
                    <div class="layui-input-block">
                        <input type="text" name="search" placeholder="主题名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">颜色</label>
                    <div class="layui-input-block">
                        <select name="color" id="" class="layui-input">
                            <option value="">请选择</option>
                            <?php foreach(config('dictionary.theme_color') as $v) : ?>
                            <option value="{$v['id']}">{$v['value']}</option>
                            <?php endforeach ?>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-block">
                        <select name="category" id="" class="layui-input">
                            <option value="">请选择</option>
                            <?php foreach(config('dictionary.category') as $k=>$v) : ?>
                            <option value="{$k}">{$v}</option>
                            <?php endforeach ?>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                    <button class="layui-btn layuiadmin-btn-refresh">
                        <i class="layui-icon layui-icon-refresh layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <ul id="demo">
            </ul>
        </div>
    </div>
</div>

<script src="/static/layui/layui.js"></script>
<script src="/static/common/js/layTool.js"></script>
<script src="/static/common/js/jquery.min.js"></script>

<script>
    layui.config({
        base: '/static/admin/'
    }).use(['table', 'flow'], function (){
        let $ = layui.$, flow = layui.flow, limit = 10;
        let flowLoad = function (){
            let search = '';
            search += '&search=' + $('input[name=search]').val();
            search += '&color=' + $('select[name=color]').val();
            search += '&category=' + $('select[name=category]').val();
            flow.load({
                elem: '#demo',
                done: function (page, next){
                    let lis = [];
                    $.get('/admin/site/theme?page=' + page + '&limit=' + limit + search, function (res){
                        $('.clear', this.elem).remove();
                        layui.each(res.data, function (index, item){
                            let html = '';
                            html += '<div class="layui-col-xs6 layui-col-sm6 layui-col-md4"><div class="c-container">' +
                                '<div class="c-img"><img src="' + item.thumb + '" alt=""></div>' +
                                '<div class="layui-col-xs12 layui-col-sm12 layui-col-md6 c-list temp-name">主题名称：' + item.temp_name + '</div>' +
                                '<div class="layui-col-xs12 layui-col-sm12 layui-col-md6 c-list category">类型：' + item.category + '</div>' +
                                '<div class="layui-col-xs12 layui-col-sm12 layui-col-md6 c-list color">颜色：' + item.color + '</div>' +
                                '<div class="layui-col-xs12 layui-col-sm12 layui-col-md6 c-list is-h5">响应式：' + item.is_h5 + '</div>' +
                                '<div class="layui-col-xs12 layui-col-sm12 layui-col-md6 c-list count">使用量：' + item.count + '</div>' +
                                '<div class="layui-col-xs12 layui-col-sm12 layui-col-md6 c-list shoulu">收录情况：' + item.shoulu + '</div>' +
                                '<div class="layui-col-xs12 layui-col-sm12 layui-col-md6 c-list paiming">排名情况：' + item.paiming + '</div>' +
                                '<div class="layui-col-xs12 layui-col-sm12 layui-col-md6 c-list zhuanhua">转化情况：' + item.zhuanhua + '</div>' +
                                '<div class="layui-col-xs12 layui-col-sm12 layui-col-md6 c-list temp-url">预览地址：' + item.temp_url + '</div>' +
                                '<div class="layui-col-xs12 layui-col-sm12 layui-col-md6 c-list edit-time">修改时间：' + item.edit_time + '</div>' +
                                '<div style="clear:both"></div>' +
                                '<div class="c-operate"><button class="layui-btn" ' +
                                'data-temp_id="' + item.temp_id + '" ' +
                                'data-temp_name="' + item.temp_name + '" ' +
                                'data-is_h5="' + item.is_h5 + '" ' +
                                'data-cat_id="' + item.cat_id + '"' +
                                '>选择</button></div>'
                            '</div></div>'
                            lis.push('<li>' + html + '</li>');
                        });
                        lis.push('<li class="clear" style="clear:both"></li>');
                        next(lis.join(''), page < Math.ceil(res.count / limit));
                        layer.photos({
                            photos: '.c-container',
                        });
                        $('.c-operate button').off().on('click', function (){
                            $('input[name=temp_id]', window.parent.document).val($(this).data('temp_id'));
                            $('input[name=temp_name]', window.parent.document).val($(this).data('temp_name'));
                            let domain = $('input[name=m_domain]', window.parent.document).parent().parent();
                            domain.hide();
                            if ( $(this).data('is_h5') === '否' ) {
                                domain.show();
                            }
                            let index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        });
                        $('.c-img').height($('.c-img').width());
                    });
                }
            });
        };
        $('.layuiadmin-btn-refresh').on('click', function (){
            $('.layui-input').val('');
            $("#demo").empty().unbind();
            flowLoad();
        });
        $(window).resize(function (){
            $('.c-img').height($('.c-img').width());
        });
        // 监听搜索
        $('.layuiadmin-btn-admin').off().on('click', function (){
            $("#demo").empty('')
            $(document).unbind();
            flowLoad();
        });
        flowLoad();
    });
</script>
</body>
</html>
